	{% extends "layout.html.twig" %}
		{% block title %}Ma page d'accueil{% endblock %}

		{% block content %}
            <h2>Seurche angine</h2>
            <form action="{{ path('rechercheParTitre')}}">
                <input type="text" name="title">
                <button type="submit">Rechercher</button>
            </form>
            <h2>Mes articles</h2>
            {% for flashMessage in app.session.flashbag.get('success') %}
            {# affichage du message de réussite #}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}          
			{% for article in articles %}
			<article>
				<h2>{{ article.title }}</h2>
				<p>publié par 
					<a href="{{ path('voirUser', {id: article.idUser}) }}">
						{{ article.username }}
					</a>
				</p>
				<p>{{ article.content }}</p>
				<p><a href="{{ path('voirArticle', {id: article.idArticle}) }}">Voir</a> | <a href="{{ path('deleteArticle', {id: article.idArticle}) }}">Supprimer</a></p>
			</article>
			{% endfor %}
		{% endblock %}

		{# commentaires #}

		