{% extends "layout.html.twig" %} {% block content %} 
{# Message de confirmation #} 

{% for flashMessage in app.session.flashbag.get('success') %}

<div class="alert alert-success"> {{ flashMessage }} </div> 
{% endfor %}

<!----------------------------------- Qui sommes nous ------------------------------->
<section id="quisommesnous">
    <div class="container">
        
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Qui sommes nous</h2>
                <h3 class="section-subheading text-muted">La Cité's Compagnie est compagnie lormontaise, engagée depuis 17 ans pour un théâtre de proximité, citoyen et militant.</h3> </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <h4 class="service-heading"></h4>
                <p class="text-muted">
                    <p><img src="img/team/4.jpg" id="phototeam1">L'aventure débute en 1999, avec la création d'un simple atelier de théâtre, sur l'impulsion d'une jeune Lormontaise, avec l'aide d'une éducatrice de l'AJHAG (association jeunesse Hauts de Garonne). Un projet se met alors en place en collaboration avec le Service Culture de la ville de Lormont et le metteur en scène Renaud Borderie. Après une année de sensibilisation à la scène, les membres de la Compagnie créent leur première pièce « Les quatre filles du Docteur March » (adaptation du roman de Louisa May Alcott). Cette création collective, comme toutes celles qui suivront, est un juste et fort témoignage de ce qu'ils vivent au quotidien dans leur quartier, leur ville, transfiguré par l'art théâtral. Très motivés, ils décident de continuer cette belle aventure.</p>
                    <p>Depuis 2003, le groupe concrétise son engagement en constituant une association loi 1901 dont l'objet consiste à promouvoir le théâtre, notamment dans les milieux populaires :
                        <ul>
                            <li>En désacralisant l'Art de la Scène.</li>
                            <li>En montrant que le Théâtre peut exprimer la quotidienneté de la vie et qu'il peut permettre un accès à la citoyenneté.</li>
                        </ul>
                    </p>
                    <p>La volonté de la troupe est de montrer que l'image que l'on a des quartiers est souvent faussée et qu’elle est aussi porteuse d'énergie, d'enthousiasme et de talents. Le Cité's Compagnie revendique sa pratique comme du théâtre de « proximité » car elle se sent proche des préoccupations des habitants en abordant différents sujets de société. Elle souhaite amener le théâtre là où il n'existe pas ou vers des publics qui sont peu sensibilisés à cette pratique. Pour la Compagnie, le Théâtre n'est pas qu'une simple pratique artistique, c'est un véritable engagement citoyen. C'est s'inscrire et se positionner dans une société avec des idées fortes et novatrices.</p>
                    <p><img src="img/team/5.jpg" id="phototeam2"> La troupe s'implique (représentions, ateliers, interventions scolaires, présence active sur les manifestations municipales...) et participe au développement culturel de la Ville tout en étant la voix de la passerelle de ceux qui s'en sentent exclus. En cela, elle répond aux objectifs de la Politique de la Ville tant dans la participation citoyenne que dans la lutte contre les exclusions, parce que éducation et culture sont les premiers remparts contre l'obscurantisme et les préjugés en offrant des espaces d'expression où chacun peut trouver sa place.</p>
                    <p>La Cité's Compagnie veut continuer à vivre et à tisser des liens : « entre ses propres membres, entre les publics si différents soient-ils, entre l'univers mal connu des cités et l'extérieur, entre les jeunes des quartiers et le théâtre. » (Loubna EDNO-BOUFAR).</p>
                    <p>Outre la mise en œuvre de spectacles, le projet associatif prend un nouvel essor avec l'orientation MEDIATION CULTURELLE. La Compagnie intervient dans le milieu associatif et scolaire auprès de jeunes et adultes sur divers projets théâtre : animation ateliers théâtre, écriture pièce, mise en scène, projet théâtre-forum.</p>
                    <p>Pour l'année 2017/2018, l'association ouvre les portes de son local « Le Petit Théâtre de la Cité's Compagnie » à de nouveaux adhérents : enfants, adolescents et adultes en leur permettant d'intégrer des groupes de projets autour de la pratique théâtrale, à des tarifs accessibles.</p>
                </p>
            </div>
</section>



<!----------------------- Partie "nos spectacles"  ------------------------------->

   
   
   <section class="bg-light" id="nosspectacles">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Nos prochains spectacles</h2>
                <h3 class="section-subheading text-muted">Nos prochains spectacles</h3> </div>
        </div>
        <div class="row"> {% for spectacle in spectacles %}
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal{{ spectacle.id}}">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"> <i class="fa fa-plus fa-3x"></i> </div>
                    </div> <img class="img-fluid" src="{{asset('uploads/thumbnails/' ~spectacle.image)}}" alt="" height="50"> </a>
                <div class="portfolio-caption">
                    <h4>{{ spectacle.title }}</h4>
                    <p class="text-muted">{{spectacle.dateVenue}}</p>
                </div>
            </div> {% endfor %} </div>
    </div>
</section>


<!------------------------------------     Presse     -----------------------------------> 


<section id="presse">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Presse</h2>
                    <h3 class="section-subheading text-muted">Nos passages dans la presse</h3> </div>
    </div>
        
    <div class="row">
        <div class="col-lg-12">
            <ul class="timeline">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    
                            {% set cpt = 1 %}
                            {% for press in presses %}
        
                        <div class="carousel-item {% if cpt== 1 %}active{% endif %}" style="max-width: 1200px">
                            <a href="#portfolioModal-press{{press.id}}" class="portfolio-link" data-toggle="modal">
                                <center><p>{{press.title}}</p><img class="d-block img-fluid" src="{{asset('uploads/press/' ~press.image)}}" style="height:400px"></center>
                             </a>
                            
                        </div>
                        
                            {% set cpt = cpt + 1 %}
                            {% endfor %}
                        
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" style='color:blueviolet'>
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                        
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next" style="color:blueviolet">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                </div>
            </ul>
        </div>
     </div>
        
    </div>
</section>


<!-----------------------         Modals Spectacles et Presse     ------------------------>





<!-- Modal Spectacles -->

{% for spectacle in spectacles %}

<div class="portfolio-modal modal fade" id="portfolioModal{{spectacle.id}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">{{spectacle.title}}</h2>
                            <p class="item-intro text-muted">{{spectacle.dateVenue}}</p> <img class="img-fluid d-block mx-auto" src="{{asset('uploads/img/'~spectacle.image)}}" alt="">
                            <p>{{spectacle.content}}
                                <br> <strong> Mail: lacitescompagnie.reservations@gmail.com ou par téléphone : 06.15.62.26.76</strong> Responsable: Loubna EDNO-BOUFAR</p>
                            <ul class="list-inline">
                                <li>Date: {{spectacle.dateVenue}}</li>
                                <li>Entrée: {{spectacle.price}}€</li>
                                <li><strong>Lieu: {{spectacle.place}} </strong></li>
                            
                            </ul>
                            <p><a href="http://localhost/wf3projet/wf3projet/web/reservation" ><button class="btn btn-primary" type="button"> Réserver maintenant</button></a></p>
                            {# A changer en fonction de lo'rdi #}
                         <p><button class="btn btn-primary" data-dismiss="modal" type="button"> <i class="fa fa-times"></i> Fermer la section</button></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> {% endfor %}






{% for press in presses %}
<div class="portfolio-modal modal fade" id="portfolioModal-press{{ press.id}}" tabindex="-1" role="dialog" aria-hidden="true">
    
   <div class="modal-dialog">
       <div class="modal-content">
           <div class="close-modal" data-dismiss="modal">
               <div class="lr">
                   <div class="rl"></div>
               </div>
           </div>
           <div class="container">
               <div class="row">
                   <div class="col-lg-8 mx-auto">
                       <div class="modal-body">
                           <!-- Project Details Go Here -->
                           <h2 class="text-uppercase">{{press.title}}</h2>
                           <img class="d-block img-fluid" src="{{asset('uploads/press/' ~press.image)}}"> 
 
                           <p>{{press.content}}</p>
                           <ul class="list-inline">
                              <li>Lien<a href=" {{press.link}}"></a></li>
                               
                           </ul>
                           <button class="btn btn-primary" data-dismiss="modal" type="button"> <i class="fa fa-times"></i> Fermer l'article de presse</button>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>

{% endfor %}


{% endblock %}

