<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	<div class="container">
		<header>
			<img src="{{ asset('elandy.jpg') }}" class="img img-responsive img-rounded" width="150">
            <h1>La Cité's Compagnie</h1>
		</header>
        <nav class="nav nav-bar">
            <ul>
                <li><a href="{{ path('home') }}">Accueil</a></li>
                <li><a href="{{ path('usersList') }}">Qui sommes nous</a></li>
                <li><a href="{{ path('lastArticles') }}">Nos spectacles</a></li>
                <li><a href="{{ path('agenda') }}">Agenda></li>
                <li><a href="{{ path('presse') }}">Presse></li>
                 <li><a href="{{ path('contact') }}">Contact></li>
                <li><a href="{{ path('contactezmoi') }}">Contact</a></li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('homeAdmin') }}">administration</a></li>
                    {% endif %}
					<li><a href="{{ path('logout') }}">déconnexion</a></li>
				{% else %}
					<li><a href="{{ path('login') }}">connexion</a></li>
                {% endif %}
            </ul>
        </nav>
		<footer class="footer">
		</footer>
	</div>
    <!-- jQuery -->
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    {% block javascript %}{% endblock %}
</body>
</html>