<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="{{ asset('../web/css/agency.min.css') }}">
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	<div class="container">
		<header>
			<img src="{{ asset('elandy.jpg') }}" class="img img-responsive img-rounded" width="150">
            <h1>La Cité's Compagnie</h1>
		</header>
        <nav class="nav nav-bar">
            <ul>
                <li><a href="{{ path('home') }}">Accueil</a></li>
                <li><a href="{{ path('usersList') }}">Qui sommes nous</a></li>
                <li><a href="{{ path('lastArticles') }}">Nos spectacles</a></li>
                
            </ul>
        </nav>
		<div class="col-md-12">
            <li><a href="{{ path('rechercheParAuteur') }}">rechercher</a></li>
            {% block content %}{% endblock %}
		</div>
		<footer class="footer">
		</footer>
	</div>
    <!-- jQuery -->
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    {% block javascript %}{% endblock %}
</body>
</html>