{% extends "layout.html.twig" %}

{% block content %}
    <section id="contact">
      <div class="container">
          
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Veuillez reserver votre place ici!</h2>
                    <h3 class="section-subheading text-muted">Nous vous remercions !</h3>
             </div>
        </div>
          
        <div class="row">
            <div class="col-lg-12">
                
                {% for flashMessage in app.session.flashbag.get('success') %}
                
                    <div class="alert alert-success">
                    {{ flashMessage }}
                    </div>
                
                {% endfor %}
            {{ dump(data) }}
            <div class="col-md-12 ">
                  
                {{ form_start(reservationForm, { 'attr': {'class': 'form-horizontal', 'id': 'reserv-form'} }) }}
                
                        <div class="form-group">
                            {{ form_label(reservationForm.name, null) }}
                            <div>
                                {{ form_widget(reservationForm.name, { 'attr':  { 'class': 'form-control'}}) }}
                            </div>
                        </div>
                        
                        <div class="form-group">
                    
                        
                            <div>
                                {{ form_errors(reservationForm.email) }}
                                {{ form_widget(reservationForm.email, { 'attr':  {'class': 'form-control'}}) }} 
                            </div>
                    
                        </div>
                
                        
                        
                        <div class="form-group">
                            <div>
                                {{ form_errors(reservationForm.spectacles) }}
                                {{ form_widget(reservationForm.spectacles, { 'attr':{
                                'class': 'form-control'}}) }}
                            </div>
                        </div>
                
                        <div class="form-group">
                            <div>
                                {{ form_errors(reservationForm.ticket) }}
                                {{ form_widget(reservationForm.ticket, { 'attr':{
                                'class': 'form-control'}}) }}
                            </div>
                        </div>

                        <div id="resultPOST" class="section-subheading text-muted"></div>

                        <div class="form-group">
                            <input id="action" type="submit" class="btn btn-primary btn-lg" value="Valider la réservation" />
                        </div>
                        
                        <div id='result' class="section-subheading text-muted"></div>
                    {{ form_end(reservationForm) }}
                
                </div>
            </div> 
          </div>
        </div>
    </section>
                                
{% endblock %}


{% block javascript %}
    <script>
        $(function(){



            //Lors du choix du spectacle, donne le prix de la représentation :
            $('#reservation_spectacles').change(function(event){
                
                //construction de l'url de la requête avec les paramètres
                var url = "{{ path('ajaxPrix') }}";
                //requête ajax en POST
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: 'idSpectacle=' + $('#reservation_spectacles').val(),
                    dataType: 'html',
                    success: function(data){
                        $('#result').html(data);
                    },
                    error: function() {
                        alert('La requête n\'a pas aboutixx'); 
                    }
                });
            });


            
             {# //Lors de l'envoi du formulaire, ajoute à la BDD le nombre de places réservées : 
            $('#reservation_ticket').change(function(event){
                //permet d'empêcher la validation du formulaire et le chargement de la page
                event.preventDefault();

                //construction de l'url de la requête avec les paramètres
                var url = "{{ path('ajaxReservation') }}";

                //requête ajax en POST
                $.ajax({
                    type: 'POST',
                    url: url,
                    data : 'reservation=' + $('#reservation_ticket').val() + '&idSpectacle=' + $('#reservation_spectacles').val(),
                    dataType: 'html',
                    success: function(data){
                        if(data=='ko'){
                            $('#action').attr('disabled', 'diasbled');
                            $('#result').append('Il ne reste plus assez de places');
                        }
                    },
                    error: function() {
                    alert('La requête n\'a pas abouti'); 
                    }
                });
            }); #}
            
             //Lors de l'envoi du formulaire, ajoute à la BDD le nombre de places réservées : 
            $('#action').click(function(event){
                    //permet d'empêcher la validation du formulaire et le chargement de la page
                    event.preventDefault();

                    //construction de l'url de la requête avec les paramètres
                    var url = "{{ path('ajaxReservation') }}";

                    //requête ajax en POST
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data : 'reservation=' + $('#reservation_ticket').val() + '&idSpectacle=' + $('#reservation_spectacles').val(),
                        dataType: 'html',
                        success: function(data){
                            if(data=='ko'){
                                $('#result').append('Il ne reste plus assez de place.');
                            }
                            else{
                                $('#reserv-form').submit();
                            }
                        },
                        error: function() {
                        alert('La requête n\'a pas abouti'); 
                        }
                    });
                });



        });

        
    </script>      
{% endblock %}